header img{
    width: 50px;
    height: 50px;
   }
.navbar .nav-item .nav-link{
    color: white;
}
.navbar .text-Intro{
    color: white;
}
.navbar .nav-item:hover .nav-link{   
    color: rgb(56, 129, 129);
}
.navbar .text-Intro:hover{
    color: rgb(56, 129, 129);
}
