body{
    background-color: rgb(61, 15, 15);
}
.imaginacion img{
    width: 80%;
    height: 25vw;
}

.card h2{
    color: white;
}
.card h3{
    color: white;
}
.asertijo h6{
    color: black;
}
.card{
    color: white;
    background-color: rgba(143, 140, 161, 0.295);
    
   
     width: 100%;
    height: 25vw;
    
 }
 .asertijo{
    color: black;
    background-color: white;
    width: 100%;
    height: 13vw;
 }

 .btn-pagina{
    align-self: flex-end;
 }
 